<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

<body>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <div class="navbar-header">
        <a class="navbar-brand" href="#" style="color: aqua">Easy Ghumo.com</a>
      </div>
   
    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item active"> <a class="nav-link" href="#"><i class="fa fa-credit-card" aria-hidden="true"></i>
        Wallet</a></li>
      <li class="nav-item"> <a class="nav-link" href="#"><i class="fa fa-suitcase" aria-hidden="true"></i>
        My Trips</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Login | Sign Up</a></li>
     
    </ul>
  </nav>
  <diV class="col-lg-12" >
    <img src="../assets/img/tempo_banner_image.png" height="70%" width="60%" alt="Random first slide">


  </diV>
  
<h2 style="text-align: center;">Great Offers</h2>
<h5 style="text-align: center;">______%_____</h5>
<div class='container-fluid'>

    <div class='col-12'>
    <ngb-carousel>
    <ng-template ngbSlide>
      <img src="../assets/img/ic_offer_slide_img.png" height="100" width="400" alt="Random first slide">
      <div class="carousel-caption">
        <h3>10 seconds between slides...</h3>
        <p>This carousel uses customized default values.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="../assets/img/ic_offer_slide_img.png" height="100" width="400" alt="Random second slide">
      <div class="carousel-caption">
        <h3>No mouse events...</h3>
        <p>This carousel doesn't pause or resume on mouse events</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="../assets/img/ic_offer_slide_img.png" height="100" width="400" alt="Random third slide">
      <div class="carousel-caption" >
        <h3>No keyboard...</h3>
        <p>This carousel uses customized default values.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="../assets/img/ic_offer_slide_img.png" height="100" width="400" alt="Random fourth slide">
      <div class="carousel-caption">
        <h3>And no wrap after last slide.</h3>
        <p>This carousel uses customized default values.</p>
      </div>
    </ng-template>
  </ngb-carousel>
    </div>
   
    </div>
    <br>
    <br>
    <div class='container-fluid'>

      <div class='col-12'>
      <ngb-carousel>
      <ng-template ngbSlide>
        <img src="../assets/img/img_route.png" height="100" width="400" alt="Random first slide">
        <div class="carousel-caption">
          <h3><b>Delhi to manali</b></h3>
          <!-- <p>This carousel uses customized default values.</p> -->
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img src="../assets/img/img_route.png" height="100" width="400" alt="Random first slide">
        <div class="carousel-caption">
          <h3><b>Delhi to chandigarh</b></h3>
          <!-- <p>This carousel doesn't pause or resume on mouse events</p> -->
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img src="../assets/img/img_route.png" height="100" width="400" alt="Random first slide">
        <div class="carousel-caption">
          <h3><b>Delhi to jaipur</b></h3>       
             <!-- <p>This carousel uses customized default values.</p> -->
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img src="../assets/img/img_route.png" height="100" width="400" alt="Random first slide">
        <div class="carousel-caption">
          <h3><b>Delhi to patna</b></h3>
          <!-- <p>This carousel uses customized default values.</p> -->
        </div>
      </ng-template>
    </ngb-carousel>
      </div>
     
      </div>
      <h2 style="text-align: center;">Why Easyghumo</h2>
      <h5 style="text-align: center;">______?_____</h5>
        <div class="col-lg-12 row">
<div class="col-lg-2">
  <img src="../assets/img/ic_27X7.png" height="70" width="60" alt="Random first slide">
  <div>
    <h5>24X7</h5>
   <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. </p> 
  </div>
</div>
<div class="col-lg-2">
  <img src="../assets/img/ic_hidden_charges.png" height="70" width="60" alt="Random first slide">
  <div>
    <h5>No Hidden Charges</h5>
   <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. </p> 
  </div>
</div>
<div class="col-lg-2">
  <img src="../assets/img/ic_advance_booking.png" height="70" width="60" alt="Random first slide">
  <div>
    <h5>Advanced Booking</h5>
   <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. </p> 
  </div>
</div>
<div class="col-lg-2">
  <img src="../assets/img/ic_driver.png" height="70" width="60" alt="Random first slide">
  <div>
    <h5>Trained Driver</h5>
   <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. </p> 
  </div>
</div>
<div class="col-lg-2">
  <img src="../assets/img/ic_secure_safe.png" height="70" width="60" alt="Random first slide">
  <div>
    <h5>Secure and Safe</h5>
   <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. </p> 
  </div>
</div>
<div class="col-lg-2">
  <img src="../assets/img/ic_vehicle_option.png" height="70" width="60" alt="Random first slide">
  <div>
    <h5>Vehicle Option</h5>
   <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. </p> 
  </div>
</div>


        </div>
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12 py-5">
        <div class="mb-5 flex-center">
          <!-- Facebook -->
          <a class="fb-ic">
            <i class="fa fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <i class="fa fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
            <i class="fa fa-google-plus-g fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic">
            <i class="fa fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <i class="fa fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Pinterest-->
          <a class="pin-ic">
            <i class="fa fa-pinterest fa-lg white-text fa-2x"> </i>
          </a>
        </div>
      </div>
     </div> 
   </div>
</div>

<style>
  .footer {
     /* position: fixed; */
     left: 0;
     bottom: 0;
     width: 100%;
     background-color: black;
     color: white;
     text-align: center;
  }
  </style>
  
</body>
</html>
