<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>

</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#" style="color: aqua">Easy Ghumo.com</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#" ><i class="fa fa-wallet">Wallet</i></a></li>
      <li><a href="#">
        <i class='fa fa-suitcase' style='font-size:24px'>My Trips</i></a></li>
      <li><a href="#">Login | Sign Up</a></li>
      <!-- <li><a href="#">Sign Up</a></li> -->
    </ul>
  </div>
</nav>
  
<div class="container">
  <h3>Basic Navbar Example</h3>
  <p>A navigation bar is a navigation header that is placed at the top of the page.</p>
</div>

<h2 style="text-align: center;">Great Offers</h2>
<h5 style="text-align: center;">______%_____</h5>
<div class='container-fluid'>

    <div class='col-12'>
    <ngb-carousel>
    <ng-template ngbSlide>
      <img src="../assets/img/3.jpeg" height="100" width="400" alt="Random first slide">
      <div class="carousel-caption">
        <h3>10 seconds between slides...</h3>
        <p>This carousel uses customized default values.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="../assets/img/ytt.jpeg" height="100" width="400" alt="Random second slide">
      <div class="carousel-caption">
        <h3>No mouse events...</h3>
        <p>This carousel doesn't pause or resume on mouse events</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="../assets/img/index.jpeg" height="100" width="400" alt="Random third slide">
      <div class="carousel-caption" >
        <h3>No keyboard...</h3>
        <p>This carousel uses customized default values.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="../assets/img/gg.jpeg" height="100" width="400" alt="Random fourth slide">
      <div class="carousel-caption">
        <h3>And no wrap after last slide.</h3>
        <p>This carousel uses customized default values.</p>
      </div>
    </ng-template>
  </ngb-carousel>
    </div>
   
    </div>


<!-- <div class="container">
  <div class="row wow  fadeInUp animated" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-name: fadeInUp;">
  <div class="col-md-12 bdr-btm">
  <div class="footer-contact">	
    <div style="display: inline-block;">
      <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="35px" height="35px" viewBox="0 0 484.738 484.738" style="enable-background:new 0 0 484.738 484.738; fill: #ccc;" xml:space="preserve">
  <g>
    <g>
      <path d="M131.012,438.372h85.624v-87.557h51.467v87.557h85.624V46.366H131.012V438.372z M257.993,92.564h51.466v51.467h-51.466
        V92.564z M257.993,175.279h51.466v51.467h-51.466V175.279z M257.993,257.992h51.466v51.467h-51.466V257.992z M175.279,92.564
        h51.466v51.467h-51.466V92.564z M175.279,175.279h51.466v51.467h-51.466V175.279z M175.279,257.992h51.466v51.467h-51.466V257.992
        z"></path>
      <path d="M373.719,81.482V358.66h33.065v79.712h77.954V81.482H373.719z M444.437,321.009H397.58v-46.856h46.856V321.009z
         M444.437,245.703H397.58v-46.855h46.856V245.703z M444.437,170.398H397.58v-46.855h46.856V170.398z"></path>
      <path d="M0,438.372h77.954V358.66h33.065V81.482H0V438.372z M40.302,123.543h46.856v46.855H40.302V123.543z M40.302,198.848
        h46.856v46.855H40.302V198.848z M40.302,274.151h46.856v46.855H40.302V274.151z"></path>
    </g>
  </g>
  <g>
  </g>
  <g>
  </g>
  <g>
  </g>
  <g>
  </g>
  <g>
  </g>
  <g>
  </g>
  <g>
  </g>
  <g>
  </g>
  <g>
  </g>
  <g>
  </g>
  <g>
  </g>
  <g>
  </g>
  <g>
  </g>
  <g>
  </g>
  <g>
  </g>
  </svg></div>
    <div style="display: inline-block; margin-left: 15px;">
      <h3 style="margin-bottom: 0px" class="footer-title">JIL Information Technology Limited</h3>
    <p><small>CIN : U72200DL2000PLC120604</small></p>
    </div>
    
    
  </div>
  </div>
  </div>
  <div class="row wow  fadeInUp animated" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-name: fadeInUp;">
  <div class="col-md-3 footer-contact">
    <div class="contact-info">
      <div class="info1">
        <h3 class="footer-title">Get in Touch:</h3>
        <p>Email: <span><a href="mailto:sales.info@jilit.co.in">sales.info@jilit.co.in</a></span></p>
        <p>Phone: <span><a href="tel:+91 120 4963100">+91-120-4963100</a></span></p>
        <p>Contact Person: <br><span>Mr. Amresh Jaiswal</span></p>
      </div>
    </div>
  </div>
  
  <div class="col-md-3 footer-contact">
    <div class="contact-info">
    <div class="info1">
        <h3 class="footer-title">Head Office:</h3>
        <span>64/4, Site IV, Sahibabad <br>Industrial Area,<br>Distt. Ghaziabad- 201010</span>
    </div>
    </div>
  </div>
  
  <div class="col-md-4 footer-contact">
  
  <div class="contact-info">
    <h3 class="footer-title">Registered Office:</h3>
    <span>54, Basant Lok, Vasant Vihar, <br>New Delhi - 110057</span>
  </div>
  </div>
  <div class="col-md-2">
  <div class="footer-service">
  <h3 class="footer-title">Quick Links:</h3>
  <ul class="footer-link">
  <li><a href="clients.html"><i class="fa fa-angle-double-right"></i> Clients</a></li>
  <li><a href="partners.html"><i class="fa fa-angle-double-right"></i> Partner</a></li>
  <li><a href="career.html"><i class="fa fa-angle-double-right"></i> Careers</a></li>
  </ul>
  </div>
  </div>
  </div>
  <div class="copyright">
  <div class="row">
  <div class="col-md-4">
    <ul class="footer-social-link">
  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
  <li><a href="#"><i class="fa fa-instagram"></i></a></li>
  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
  <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
  </ul>
    
  
  </div>
  
  <div class="col-md-4">	
    <p class="copyright-text text-center">© Copyright 2018 - JILIT   </p>
  </div>
  <div class="col-md-4 ">	
    <ul class="footer-link bottom-link text-right">
      <li><a href="privacy-policy.html">Privacy Policy</a></li>
      <li><a href="disclaimer.html"> Disclaimer</a></li>
    </ul>
    
  </div>
  </div>
  </div>
  <!-- copyright ends 
  </div> -->
  

<!-- Footer -->
<footer class="page-footer font-small cyan darken-3">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Grid row-->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-12 py-5">
        <div class="mb-5 flex-center">

          <!-- Facebook -->
          <a class="fb-ic">
            <i class="fa fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <i class="fa fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
            <i class="fa fa-google-plus-g fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic">
            <i class="fa fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <i class="fa fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Pinterest-->
          <a class="pin-ic">
            <i class="fa fa-pinterest fa-lg white-text fa-2x"> </i>
          </a>
        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

</body>
</html>
